.achivement{
    background-image:linear-gradient(rgba(92, 30, 249, 0.8),rgba(92, 30, 249, 0.8)) , url("/hyruleapp/assets/img/bg/ach-bg-img.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color:white;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    line-height: 2.5em;
    
}
.achivement p,span{
    font-size:x-large;
    font-weight: 900;
}
/*Code de Stéphane*/
.title {
    position: relative;
    padding-bottom: .8em;
    margin-bottom: .5em;
} 
.title:before, 
.title:after {
    position: absolute;
    content: "";
    left: 50%;
    transform: translateX(-50%);
}

.title:before {
    bottom: 0;
    width: 8rem;
    border-bottom: 2px solid var(--indigo);
}

.title:after {
    bottom: 1px;
    height: .8rem;
    width: .8rem;
    background-color: var(--indigo);
    clip-path: polygon(50% 0%, 90% 50%, 50% 100%, 10% 50%);
    transform: translate(-50%, 50%);
    transform-origin: center;
}

